<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581319891271-68etkah28o4cc82oauaak6euk3m9steg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581319891271-68etkah28o4cc82oauaak6euk3m9steg</string>
	<key>API_KEY</key>
	<string>AIzaSyCsZqWRvkVEg2_sx2eNofFUwLC1aICyrs4</string>
	<key>GCM_SENDER_ID</key>
	<string>581319891271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gaytan.GoDentyc</string>
	<key>PROJECT_ID</key>
	<string>godentyc</string>
	<key>STORAGE_BUCKET</key>
	<string>godentyc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581319891271:ios:254d57d1790948f003d462</string>
	<key>DATABASE_URL</key>
	<string>https://godentyc.firebaseio.com</string>
</dict>
</plist>